footer {
    color: white;
    background: #046585;
    padding-top: 50px;
    width: 100vw;
    position: sticky;
    top: 100vh;
    background-color: #27859f;
}

.footer-container {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-content {
    width: 100%; 
    box-sizing: border-box; 
    padding: 15px; 
}

@media (min-width: 768px) {
    .footer-content {
        width: 50%; 
    }
}

@media (min-width: 992px) {
    .footer-content {
        width: 33.3%; 
    }
}


footer h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p {
    text-align: center;
    line-height: 2em;
}

.footer-content ul {
    text-align: center;
}

.list {
    padding: 0;
}

.list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: red;
    transition-duration: .5s;
}

.list li:hover::before {
    width: 70px;
}

.social-icons {
    text-align: center;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i {
    color: white;
    font-size: 25px;
}

footer a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

.social-icons i:hover {
    color: red;
    color: white;
}

.bottom-bar {
    background: #27859f;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.bottom-bar p {
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}
