* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  .opt{
    display: flex;
    justify-content: left;
    gap: 10px;
    align-items: center;
    padding: 5px 6%;
    flex-wrap: wrap;
  
  }
  
  .btn {
    padding: 1rem 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color:white;
    background-color:#046585;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  .btn1{
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color:white;
    background-color: rgb(243, 8, 8);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  
  }
  
  input{
    color: white;
    text-decoration: white;
    
  }
  ::placeholder {
    color: white;
    opacity: 1;
  }
  
  .btn:hover {
    /* background-color: #e04e1d; */
    transform: scale(1.1);
    opacity: 0.8;
  }
  .btn1:hover{
    transform: scale(1.1);
    opacity: 0.8;
  
  }
  
  
  
  .container {
    margin-top: 0px;
    padding: 0px 20px;
    margin: auto;
  
  }
  
  
  
  nav {
    margin-top: 0px;
    padding: 2rem 1rem;
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .nav__logo {
    display: inline;
    font-size: 1.9rem;
    color: rgb(243, 8, 8);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
  }
  .main_header{
    transition: 0.3s;
  }
  
  .main_header:hover{
    
    transform: scale(1.1) translate(10px);
    cursor: pointer;
   
  }
  
  .nav__links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  a{
    text-decoration: none;
    color: #046585;
  }
  li{
    text-decoration: none;
    color:#046585;
    cursor: pointer;
    transition: 0.3s;
  }
  
  li:hover {
    transform: scale(1.1);
    color: #046585
  }
  
  .header {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 2rem;
    align-items: center;
  }
  
  .content h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    color:#150601;
  }
  
  .content h1 span {
    font-weight: 400;
  }
  
  .content p {
    margin-bottom: 2rem;
    color:#046585;
    line-height: 1.75rem;
    z-index: 1;
  }
  
  .image {
    position: relative;
    text-align: center;
  }
  
  .image__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 450px;
    background-color: #046585;
    border-radius: 100%;
    z-index: -1;
  
  }
  
  .image img {
    width: 100%;
    max-width: 475px;
  }
  
  
  .image__content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color:white;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  
  .ac{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(153, 255, 0);
  }
  
  /* ---------------------------------------------------->
  ANIMATION FROM HERE */
  
  
  .center-div {
    position: absolute;
    top: 6px;
    left: 87px;
    width: 1rem;
    height: 1rem;
    background-color: #ee5253;
    position: relative;
    animation: hbeat 1s linear infinite;
  }
  
  .center-div::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ee5253;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  .center-div::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ee5253;
    position: absolute;
    border-radius: 50%;
    transform: translateX(-50%);
  }
  
  @keyframes hbeat {
    0% {
      transform: rotate(45deg) scale(1);
    }
    20% {
      transform: rotate(45deg) scale(1);
    }
    40% {
      transform: rotate(45deg) scale(1.4);
    }
    60% {
      transform: rotate(45deg) scale(1.2);
    }
    80% {
      transform: rotate(45deg) scale(1.4);
    }
    100% {
      transform: rotate(45deg) scale(1);
    }
  }

  /* footer{
    position: relative;
    top: 1000px;
  } */
  a{
    color: #046585;
  }