#loginfull{
    display: flex;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
input{
    color: black;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
#loginleft {
    background-color: #1a8db4;
    height: 100%;
    width: 50vw;
}
#loginmainleft {
    min-height: 100vh;
    height: 100%;
    background-color: azure;
    margin-top: 0vh;
    margin-left: 16vw;
    display: flex;
    align-items: top;
    justify-content: center;
}
.loginlabel{
    margin-top: 5px;
    font-size: 20px;
}
#loginmedlink {
    margin-top: -5vh;
    height: 11vw;
}
#login {
    margin-top: 0vh;
    height: 100%;
    width: 34vw;
}
#loginsignup {
    justify-content: center;
    padding-left: 7vw;
    margin-left: 1.3vw;
    margin-top: -2vh;  
}
.logininput {
    margin-left: 3vw;
    font-size: medium;
    text-align: left;
    padding-bottom: 0%;
}
.loginlabel {
    margin-top: 0vh;
    margin-left: 3vw;
}
#loginuserid,#firstname,#loginuseri, #loginpassword, #loginCpassword {
 width: 15vw;
}
#loginpassword,#loginCpassword{
    margin-left: 0vw;
}
#loginbutton {
    margin-left: 8vw;
    margin-top: 1vh;
    justify-content: center;
}
#loginshow {
    margin-top: 5px;
    cursor: pointer;
}
#loginshowLabel {
    display: flex;
    align-items: center;
}
#loginshow{
    position: relative;
    right: 65px;
}
#loginshowC{
    position: relative;
    right: 65px;
}
.logingen{
    display: inline;
    margin-left: 50px;
    font-size:medium;
}

#loginbut{
    display: flex;
   margin-left: -5vw;
}
#loginsignup{
        margin-left: -1vw;
        padding-left: 0px;
        margin-top: -0.5vh;
        justify-content: left;
        text-align: center;
        font-size:x-large;
        font-weight:600;
        margin-bottom: 0vh;
    }
    #loginbutton{
        margin-left: 42%;
   }
  #passbtn{
    margin-left:-10px;
  }
@media (max-width:1030px) and (min-width:571px){
    #loginleft{
        max-width: 50vw;
        flex-wrap: wrap;
    }
    .loginlabel{
        display: flex;
    }
    #loginlink{max-width: 15vw;
    z-index: 1;
    }
    #loginpassword{
        margin-top: 0.5vh;
    }
    #loginsignup{
        margin-left: 0vw;
        padding-left: 0px;
        margin-top: 1vh;
        justify-content: left;
        text-align: center;
        font-size: x-large;
        font-weight:600;
    }
    #loginmedlink{
        margin-left: 6vw;
        margin-top: -2vh;
        height: 11vw;
    }
    .logininput{
        font-size: medium;
        margin-left: 2vw;
    }
    #loginmainleft{
        max-width:35vw;
    }
    #loginuserid,#firstname,#loginuseri, #loginpassword, #loginCpassword {
 width: 25vw;
}
#loginshow{
    top: 0.3vh;
        right:4.9vw;
   }
   #loginshowC{
    top:0.1vh;
        right: 4.9vw;
   }
   #loginbutton{
        margin-left: 30%;
   }
}
@media(max-width:570px){
    .logininput{
        margin-left: 0vw;
   }
   #loginright{
        display: none;
   }
   #loginleft{
        width:100%;
        z-index: 2;
   }
   #loginmainleft{
        margin-top:0px;
        margin-left: 0px;
        height: 100vh;
   }
   .loginlabel{
    display: flex;
}
   #myloginForm{
        width: 50vw;
   }
   .loginlabel{
        margin-left: 0px;
        margin-top: 0%;
   }
  
   #or{
        margin-left:39%;
   }
   #loginbutton{
        margin-left: 30%;
   }
  .logininput{
    margin-top: -4px;
  }
   .loginimage{
        margin-left: 11%;            
   }
   #loginmedlink{
        margin-top: -2vh;
        height: 25vw;
        margin-left: 1vw;  
   }
   #loginshow{
        right:3.8vw;
   }
   #loginshowC{
        right: 3.8vw;
   }
   #loginuserid,#firstname,#loginuseri, #loginpassword, #loginCpassword {
 width: 51vw;
}
#loginsignup{
        margin-left: -1vw;
        padding-left: 0px;
        margin-top: 1vh;
        justify-content: left;
        text-align: center;
        font-size: x-large;
        font-weight:600;
        margin-bottom: -1vh;
    }
}